@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Lato:wght@300&family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Cormorant Garamond', serif, 'Times New Roman';
    background-color: black;
    color: #958C80;
}

a {
    text-decoration: none;
    color: #958C80;
}

a:visited {
    color: #958C80
}

a:hover {
    color: #e4d6c0;
}

#title {
    letter-spacing: 4px;
    font-size: 200%;
    text-align: center;
    vertical-align: middle;
    padding-bottom: 12%;
    padding-top: 32%;
    

/*  animates zoom effect on loading page */

animation-name: title-zoom;
animation-duration: 5s;
animation-fill-mode: forwards;
}

#title-faded {
    opacity: 0.7;
    
}

/* creates the zoom effect of title */

@keyframes title-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}

/*  main menu image styling */

#main-menu-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    height: auto;
    width: 977px;
}

#title-over-photo {
    position: relative;
    color: rgb(240, 236, 236);
    font-size: 110%;
    
}

#centered {
    position: absolute;
    top: 43%;
    left: 49%;
    transform: translate(-50%, -50%);
}

/*  footer styling */

footer {
    padding: 0px 50px 0px 50px;
    overflow: hidden;
    height: 300px;
    position: sticky;
   
}

footer ul {
    float: left;
    text-decoration: none;
    list-style-type: none;
}

.leftside {
    float: left;
    width: 25%;
}

.middle {
    text-align: center;
    vertical-align: middle;
    width: 50%;
}

.rightside {
    float: right;
    text-align: right;
    width: 25%;
}

.middle li {
    padding-bottom: 15px 
}

.rightside li {
    padding: 4px;
}

.leftside li {
    padding: 4px;
}


#desegundo-design {    
   opacity: .4;
   
}

#email {
    background-color: black;
    color: #958C80;
    text-align: center;
    border: .5px solid;
    border-color: #958C80;
    padding: 5px;
    margin-top: 5px;
    font-family: 'Cormorant Garamond', serif, 'Times New Roman';
}

#submit {
    background-color: black;
    color: #958C80;
    border: 1px solid;
    border-color: #958C80;
    padding: 5px;
    margin-top: 10px;
    border-radius: 12px;
    font-family: 'Cormorant Garamond', serif, 'Times New Roman';
}

#submit:hover {
    color: #e4d6c0;
}

/*  de Segundo Design contact form styling */

#email-2 {
    background-color: black;
    color: #958C80;
    border: .5px solid;
    border-color: #958C80;
    padding: 5px;
    margin-top: 5px;
    font-family: 'Cormorant Garamond', serif, 'Times New Roman';
    font-size: 105%;
}

#submit-2 {
    background-color: black;
    color: #958C80;
    border: 1px solid;
    border-color: #958C80;
    padding: 5px;
    margin-top: 10px;
    border-radius: 12px;
    font-family: 'Cormorant Garamond', serif, 'Times New Roman';
    font-size: 105%;
}

#submit-2:hover {
    color: #e4d6c0;
}

#fname {
    background-color: black;
    color: #958C80;
    border: .5px solid;
    border-color: #958C80;
    padding: 5px;
    margin-top: 5px;
    font-family: 'Cormorant Garamond', serif, 'Times New Roman';
    font-size: 105%;
}

#lname {
    background-color: black;
    color: #958C80;
    border: .5px solid;
    border-color: #958C80;
    padding: 5px;
    margin-top: 5px;
    font-family: 'Cormorant Garamond', serif, 'Times New Roman';
    font-size: 105%;
}

#desegundo-design-contact {
    vertical-align: middle;
    margin: auto;
    width: 600px;
}

#desegundo-design-blurb {

    margin: 150px 250px 75px 250px;

}

#services-required {
    font: 105%;
    margin-top: 5px;
}

/*  header styling */

#header-menu {
    font-size: 125%;
    letter-spacing: 4px;
    text-align: center;
    margin-top: 25px;
}

#header-menu a {
    padding-left: 2em;
    padding-right: 2em;
}


#back-to-desphotog {
    text-align: center;
    margin-top: 80px;
}

#return-to-home {
    background-color: black;
    color: #958C80;
    border-color: #958C80;
    padding: 5px;
    margin-top: 10px;
    border-radius: 12px;
    font-family: 'Cormorant Garamond', serif, 'Times New Roman';
    font-size: 105%;
}


.current {
    text-decoration: underline;
}

/*  introdcution styling */

#introduction {
   
        padding-top: 5%;
        padding-bottom: 13%;
        height: 450px;
        margin: auto;
    }

#introduction-blurb {

    margin: 150px 250px 75px 250px;
    
    }

    /*  selected works styling */

    #selected-works {
   
        padding-top: 5%;
        padding-bottom: 13%;
        height: 450px;
        margin: auto;
    }

#selected-works-images {

    margin: 150px 250px 75px 250px;
    
    }

        /*  fine art styling */

        #fine-art {
   
            padding-top: 5%;
            padding-bottom: 13%;
            height: 450px;
            margin: auto;
            
        }
    
    #fine-art-blurb {
    
        margin: 150px 250px 75px 250px;
        
        }

        /*  exhihbitions styling */

        #exhibitions {
   
            padding-top: 5%;
            padding-bottom: 13%;
            height: 450px;
            margin: auto;
            
        }
    
    #exhibition-info {
    
        margin: 150px 250px 75px 250px;
      
        
        }

         /*  exhihbitions styling */

         #contact {
   
            padding-top: 5%;
            padding-bottom: 13%;
            height: 450px;
            margin: auto;
            
        }
    
    #contact-info {
    
        margin: 150px 250px 75px 250px;
      
        
        }

/*
use this when making header menu responsive

#header-menu li {
    text-align: center;
    list-style-type: none;
    margin: 10px 30px 10px 30px
}
*/