@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Lato:wght@300&family=Oswald&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Cormorant Garamond', serif, 'Times New Roman';
    background-color: rgb(236, 230, 230);
    color: #1b1a17;
    min-height: 100%;
}

#page-container {
    position: relative;
    min-height: 100vh;
}

#content-wrap {
    padding-bottom: 300px;
}

a {
    text-decoration: none;
    color: #1b1a17;
}

a:visited {
    color: #1b1a17
}

a:hover {
    color: #beb29e;
}

#title {
    
    font-size: 120%;
    vertical-align: middle;
    margin-top: 23%;
    margin-left: 17%;
    width: 65%;
    position: absolute;

    /* animates zoom effect on loading page */

    animation-name: title-zoom;
    animation-duration: 20s;
    animation-fill-mode: forwards;
}


/* creates the zoom effect of title */

@keyframes title-zoom {
    from {
        transform: scale(.9);
    }

    to {
        transform: scale(1.1);
    }
}

/* creates the fading of the quote */

.fading-blurb {
    animation: 23s ease 0s normal forwards 1 fadeout;
    
}

@keyframes fadeout{
    0% { opacity:1; }
    66% { opacity:1; }
    100% { opacity:0; }
}


#enter-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    height: auto;
    width: 80%;
}


#enter {
    position: relative;
    color: #1b1a17;
    font-size: 130%;
    animation: 23s ease 0s normal forwards 1 fadein;
    
}

@keyframes fadein{
    0% { opacity:0; }
    66% { opacity:0; }
    100% { opacity:1; }
}

#enter-click {
    position: absolute;
    top: 70%;
    right: 25%;
    color: #f0e4cf;
    font-size: 110%;
    
}

#enter-click:hover {
    color: #beb29e;
}


/*  main menu image styling */

#main-menu-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    height: auto;
    width: 80%;
}

#title-over-photo {
    position: relative;
    color: rgb(240, 236, 236);
    font-size: 130%;
}

#centered {
    position: absolute;
    top: 40%;
    left: 25%;
}

#title-faded {
    opacity: .7;
}

/*  de Segundo Design contact form styling */

#email-2 {
    background-color: rgb(236, 230, 230);
    color: #1b1a17;
    border: .5px solid;
    border-color: #1b1a17;
    padding: 5px;
    margin-top: 5px;
    font-family: 'Cormorant Garamond', serif, 'Times New Roman';
    font-size: 105%;
}

#submit-2 {
    background-color: rgb(236, 230, 230);
    color: #1b1a17;
    border: 1px solid;
    border-color: #1b1a17;
    padding: 5px;
    margin-top: 10px;
    border-radius: 12px;
    font-family: 'Cormorant Garamond', serif, 'Times New Roman';
    font-size: 105%;
}

#submit-2:hover {
    color: #beb29e;
}

#fname {
    background-color: rgb(236, 230, 230);
    color: #1b1a17;
    border: .5px solid;
    border-color: #1b1a17;
    padding: 5px;
    margin-top: 5px;
    font-family: 'Cormorant Garamond', serif, 'Times New Roman';
    font-size: 105%;
}

#lname {
    background-color: rgb(236, 230, 230);
    color: #1b1a17;
    border: .5px solid;
    border-color: #1b1a17;
    padding: 5px;
    margin-top: 5px;
    font-family: 'Cormorant Garamond', serif, 'Times New Roman';
    font-size: 105%;
}

#desegundo-design-contact {
    vertical-align: middle;
    margin: auto;
    width: 600px;
}

#desegundo-design-blurb {

    margin: 150px 250px 75px 250px;

}

#services-required {
    font: 105%;
    margin-top: 5px;
    background-color: rgb(236, 230, 230);
    outline: none;
}

#back-to-platphotog {
    text-align: center;
    margin-top: 80px;
}

#return-to-home {
    background-color: rgb(236, 230, 230);
    color: #1b1a17;
    border-color: #1b1a17;
    padding: 5px;
    margin-top: 10px;
    border-radius: 12px;
    font-family: 'Cormorant Garamond', serif, 'Times New Roman';
    font-size: 105%;
}

/*  header styling */

#header-menu {
    font-size: 120%;
    letter-spacing: 6px;
    text-align: center;
    margin-top: 25px;
}

#header-menu a {
    padding-left: 1.5em;
    padding-right: 1.5em;
}

.current {
    text-decoration: underline;
}

/* making header responsive 

@media screen and (max-width: 800px) {
    
#header-menu li {
    text-align: center;
    list-style-type: none;
    margin: 10px 30px 10px 30px
}
}

@media screen and (max-width: 600px)

*/

/*  introdcution styling */


#introduction-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    margin-bottom: 3%;
    height: auto;
    width: 1150px;
    position: relative;   
    
}

#introduction-blurb {
    
    padding-top: 2%;
    width: 70%;  
    position: absolute;   
    top: 6%;
    left: 15%;
    color: rgb(255, 255, 255);

}

/*  selected works styling */

#selected-works {

    margin: auto;
    padding-bottom: 30px;

}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 45px;
}

.column {
    flex: 42%;
    max-width: 42%;
    padding: 0 45px;
    margin: auto;
}

.column img {
    margin-top: 90px;
    vertical-align: middle;
    width: 100%;
}


/*  fine art styling */

#fine-art {

    padding-top: 3%;
    padding-bottom: 2%;
    margin: auto;

}


#fine-art-image-2 {

    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    margin-bottom: 2%;
    height: auto;
    width: 35%;
    
}

#fine-art-blurb {
    width: 80%;  
    top: 10%;
    margin-left: 10%;
    color: #1b1a17
}


/*  exhihbitions styling */


#exhibitions {

    color: #0f0f0d;
    font-size: 110%;
    position: relative;

}

#exhibitions img {
    opacity: 0.3;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    margin-bottom: 3%;
    height: auto;
    width: 75%;

}

#exhibitions ul {

    float: left;
    position: absolute;
    text-decoration: none;
    list-style-type: none;
    color: #0f0f0d;
    
    height: auto;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    padding: 20px 10px 20px 10px;
    border: 2px solid #0f0f0d;
    height: 35%;
    width: 20%;
    box-sizing: border-box;
    top: 30%;

}

#leftside {

    position: absolute;
    left: 10%

}

#middle {

    position: absolute;
    left: 40%;

}

#rightside {

    position: absolute;
    right: 10%;
}

/*  contact styling */


#contact {
    
    color: #0f0f0d;
    margin-top: 5%;
    margin-bottom: 5%;
    background: url('../images/globe.png') no-repeat center center; opacity: .8;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    margin-left: 31.5%;

    
   
}

#contact-info {

    padding: 110px 10px 140px 10px;
    text-align: center;
}


/*  footer styling */

#footer {
    
    height: 300px;
    width: 100%;
    clear: both;
    position: absolute;
    bottom: 0;
    
}

footer ul {
    float: left;
    text-decoration: none;
    list-style-type: none;
}

.leftside {
    float: left;
    width: 25%;
    margin-left: 12.25%;
}

.middle {
    text-align: center;
    float: left;
    width: 25%;
    
}

.rightside {
    float: left;
    text-align: right;
    width: 25%;
    margin-right: 12.25%;
}

.middle li {
    padding-bottom: 15px
}

.rightside li {
    padding: 4px;
}

.leftside li {
    padding: 4px;
}

#desegundo-design {
    opacity: .4;
}

#email {
    background-color: rgb(236, 230, 230);
    color: #1b1a17;
    text-align: center;
    border: .5px solid;
    border-color: #1b1a17;
    padding: 5px;
    margin-top: 5px;
    font-family: 'Cormorant Garamond', serif, 'Times New Roman';
}

#submit {
    background-color: rgb(236, 230, 230);
    color: #1b1a17;
    border: 1px solid;
    border-color: #1b1a17;
    padding: 5px;
    margin-top: 10px;
    border-radius: 12px;
    font-family: 'Cormorant Garamond', serif, 'Times New Roman';
}

#submit:hover {
    color: #beb29e;
}

/* media queries */

/* Large devices ie laptops (1280px and down) */
@media screen and (max-width: 1280px) {

#title {
    font-size: 200%;
}

#main-menu-image {
    margin-top: 3%;
    margin-bottom: 3%;
    width: 950px;
}

#title-overphoto {
    font-size: 110%;
}

#header-menu {
    font-size: 125%;
    letter-spacing: 4px;
}

/* Medium devices ie portrait tablets (768px and down) */
@media screen and (max-width: 768px) {

    #title {
        font-size: 125%;
        margin-top: 30%

}

/* Small devices ie phones (350px and down) */
@media screen and (max-width: 350px) {

    #title {
        font-size: 80%;
        margin-top: 30%;
    }

}





