@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Lato:wght@300&family=Oswald&display=swap');

body {
    font-family: 'Cormorant Garamond', serif, 'Times New Roman';
    background-color: black;
    color: #958C80;
}

a:hover {
    background-color: yellow;   
}

#title {
    letter-spacing: 4px;
    font-size: 200%;
    text-align: center;
    vertical-align: middle;
    padding-bottom: 25%;
    padding-top: 25%;

    /*  animates zoom effect on loading page */
animation-name: title-zoom;
animation-duration: 5s;
animation-fill-mode: forwards;
}

#title > a {
    text-decoration: none;
}

#title a:visited {
    color: #958C80
}

#title-faded {
    opacity: 0.7;
}



/* creates the zoom effect of title */

@keyframes title-zoom {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(1.1);
    }
}

